@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

body * {
    @apply transition-colors duration-200;
}

.intro-modal-close-btn {
    color: #94A3B8 !important;
    outline: none;
    transition: none !important;
}

.intro-modal-close-btn:hover {
    color: #000000 !important;
}

@media (min-width: 1024px) {
    ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    ::-webkit-scrollbar-thumb {
        background: linear-gradient(180deg, #94A3B8 0%, #94A3B8 100%);
        border: 2px solid rgba(11, 26, 51, 0.08);
        border-radius: 9999px;
    }
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}